@import url('fonts.css');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --red: #e61616;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Synonym-Regular;
}

h1 {
  font-family: Amulya-BoldItalic;
}

h2 {
  font-family: Amulya-Bold;
}

h3 {
  font-family: Amulya-BoldItalic;
}

a {
  font-family: Amulya-Bold;
}

p {
  font-family: Amulya-Bold;
  color: white;
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
}

.japanese {
  font-family: MochiyPopPOn-Regular;
}
