@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --red: #e61616;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bold: var(--font-amulya-bold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-synonym);
}

h1 {
  font-family: var(--font-amulya-bolditalic);
}

h2 {
  font-family: var(--font-amulya-bold);
}

h3 {
  font-family: var(--font-amulya-bolditalic);
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
}

.japanese {
  font-family: var(--font-mochiyPopPOn);
}

.amulya-bolditalic {
  font-family: var(--font-amulya-bolditalic);
}

.burger-svg line {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transition: transform 0.35s ease,
              opacity   0.35s ease;
}
.burger-svg.open #topLine {
  transform: translateY(50px) rotate(45deg);
}

.burger-svg.open #middleLine {
  opacity: 0;
}

.burger-svg.open #bottomLine {
  transform: translateY(-50px) rotate(-45deg);
}
